.Char {
    background-color: #db1682;
    color: white;
    border-radius: 25%;
    display: inline-block;
    padding: 16px;
    margin: 16px;
    width: 20px;
    text-align: center;
    font-size: x-large;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}